@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

html, body {
	height: 100%;
	width: 100%;
	
}

.navbar {
	font-family: 'Nanum Gothic', sans-serif;
}

.container {
	padding: 30px;
	left: 0;
	right: 0;
}

.carousel-item {
	height: auto;
	max-height: 700px;
	background: no-repeat scroll center scroll;
	-webkit-background-size: cover;
	background-size: cover;
}

.carousel-item:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	opacity: 0.8;
}

.carousel-caption {
	width: 550px;
	left: 15%;
	top: 50% !important;
	transform: translateY(-50%);
	text-align: left;
	bottom: initial;
}

.carousel-caption h5 {
	font-size: 55px;
	text-transform: uppercase;
	font-family: 'Nanum Gothic', sans-serif;
}

.carousel-caption button {
	margin-top: 15px;
	font-family: 'Nanum Gothic', sans-serif;
}

.container {
	margin-top: 25px;
	margin-bottom: 25px;
}

.container img {
	width: 100%;
	height: auto;
}

h2, h5 {
	text-transform: uppercase;
	padding: 20px 0;
}

.container h2 {
	margin-left: 20px;
}

.container p {
	margin-bottom: 25px;
}

.testimonial img {
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	margin: auto;
	display: block;
	margin-top: 25px;
}

.lead {
	padding-left: 20px;
	padding-right: 20px;
	text-align: justify;
}

.testimonial p {
	margin-bottom: 15px;
	padding: 20px;
}

.product p {
	margin-bottom: 15px;
	padding: 20px;
}

footer a:link { 
	text-decoration: none;
}


footer a:visited { 
	text-decoration: none;
}


footer a:hover { 
	text-decoration: none;
}


footer a:active { 
	text-decoration: none; 
}